 <footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
    
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Qui sommes-nous ?</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="http://www.gdgnantes.com" target="_NEW">GDG Nantes</a></li>
          <li><a href="https://developers.google.com" target="_NEW">Google Developers</a></li>
          <li><a href="mailto:bureau@gdgnantes.com">Contactez-nous</a></li>
        </ul>
      </div>
    
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Editions précédentes</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="http://devfest2015.gdgnantes.com" target="_NEW">Devfest 2015</a></li>
          <li><a href="http://devfest2014.gdgnantes.com" target="_NEW">Devfest 2014</a></li>
          <li><a href="http://devfest2013.gdgnantes.com" target="_NEW">Devfest 2013</a></li>
          <li><a href="http://devfest2012.gdgnantes.com" target="_NEW">Devfest 2012</a></li>
        </ul>
      </div>
    
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">FAQ</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="./faq.html">Questions</a></li>
          <li><a href="./pratique.html">Espace pratique</a></li>
          <li><a href="./cod.html">Code de conduite</a></li>
          <!--<li><a href="./presse.html">Ils parlent du DevFest 2016</a></li>-->
          <li><a href="./credits.html">Crédits</a></li>
        </ul>
      </div>
    
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Retrouvez le DevFest sur</h1>
        <span class="mdl-mega-footer__link-list">
            <a href="https://twitter.com/devfestnantes" class="devfest-footer-social" title="Twitter" target="_NEW">
              <img src="/images/social/twitter.png">
            </a>
            <a href="https://www.facebook.com/gdgnantes" class="devfest-footer-social" title="Facebook" target="_NEW">
              <img src="/images/social/facebook.png">
            </a>
            <a href="https://plus.google.com/+Gdgnantes" class="devfest-footer-social" title="Google plus" target="_NEW">
              <img src="/images/social/gplus.png">
            </a>
            <a href="https://www.youtube.com/user/francegdg/playlists" class="devfest-footer-social" title="YouTube" target="_NEW">
              <img src="/images/social/youtube.png">
            </a>
        </span>
      </div>
    
    </div>

    <div class="mdl-mega-footer__bottom-section">
      <div class="mdl-logo">
        <img src="/images/gdev.png">
        &nbsp; Devfest Nantes 2016 - Organisé par le <a href="http://www.gdgnantes.com" class="devfest-footer-links" target="_NEW">GDG Nantes</a>
      </div>
    </div>

</footer>