<header class="devfest-header mdl-layout__header mdl-layout__header--seamed">
  <div class="mdl-layout__header-row">
    <span class="devfest-title mdl-layout-title">
      <a href="index.html"><img class="devfest-logo-image" src="/images/logo-title-white.png"></a>
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="devfest-header-spacer mdl-layout-spacer"></div>
    <!-- Bar Navigation -->
    <div class="devfest-navigation-container">
      <nav class="devfest-navigation mdl-navigation">
        <!-- <a class="mdl-navigation__link mdl-typography--text-uppercase" href="./agenda.html">Agenda</a> -->
        <!-- <a class="mdl-navigation__link mdl-typography--text-uppercase" href="./speakers.html">Speakers</a> -->
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="./pratique.html">Pratique</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="./team.html">L'équipe</a></li>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="./faq.html">FAQ</a></li>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/en/index.html"><img class="devfest-header-lang"src="/images/flags/en.png"></a>
      </nav>
    </div>
    <span class="devfest-mobile-title mdl-layout-title">
      <a href="index.html"><img class="devfest-logo-image" src="/images/logo-title-white.png"></a>
    </span>
    <button class="devfest-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
      <li class="mdl-menu__item"><a href="./cod.html" class="devfest-menu-links">Code de conduite</a></li>
      <li class="mdl-menu__item"><a href="./credits.html" class="devfest-menu-links">Crédits</a></li>
    </ul>
  </div>
</header>

<!-- LEFT navigation -->
<div class="devfest-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <div class="devfest-drawer-title">
      9-10 Nov. 2016<br/>
      <span>Cité de congrès</br>Nantes, Fr</span>
    </div>
    <a href="index.html">
      <img class="devfest-logo-image" src="/images/logo-title-white.png">
    </a>
  </span>
  <nav class="mdl-navigation">
    <!-- <a class="mdl-navigation__link" href="./agenda.html">Agenda</a>  -->
    <!-- <a class="mdl-navigation__link" href="./speakers.html">Speakers</a>  -->
    <a class="mdl-navigation__link" href="./pratique.html">Pratique</a>
    <a class="mdl-navigation__link" href="./team.html">L'équipe</a>
    <a class="mdl-navigation__link" href="./faq.html">FAQ</a>
    <a class="mdl-navigation__link" href="./cod.html">Code de conduite</a>
    <a class="mdl-navigation__link" href="./credits.html">Crédits</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/en/index.html"><img class="devfest-header-lang" src="/images/flags/en.png"></a>
  </nav>
</div>
