<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Team @ GDG Nantes">
<meta name="description" content="DevFest Nantes 2016, is a two day event of conferences with 1000 developers a the Congress center of Nantes">
<meta name="keywords" content="event, gdg, devfest, google, programming, android, chrome, developers, nantes">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DevFest 2016 Nantes</title>

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Web Application Manifest -->
<link rel="manifest" href="manifest.json">

<!-- favicon -->
<link rel="icon" type="image/png" href="/favicon.ico" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Web Starter Kit">
<link rel="icon" sizes="192x192" href="/images/touch/chrome-touch-icon-192x192.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Web Starter Kit">
<link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#2b5797">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#2b5797">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@devfestnantes">
<meta name="twitter:title" content="DevFest Nantes 2016">
<meta name="twitter:description" content="DevFest Nantes 2016, is a two day event of conferences with 1000 developers a the Congress center of Nantes">
<meta name="twitter:image:src" content="https://devfest.gdgnantes.com/images/sharing.png">

<!-- Social: Facebook / Open Graph -->
<meta property="og:title" content="DevFest Nantes 2016" />
<meta property="og:site_name" content="DevFest Nantes 2016" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://devfest.gdgnantes.com" />
<meta property="og:image" content="https://devfest.gdgnantes.com/images/sharing.png" />
<meta property="og:description" content="DevFest Nantes 2016, is a two day event of conferences with 1000 developers a the Congress center of Nantes" />

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<link rel="canonical" href="https://devfest.gdgnantes.com">

<!-- Material Design Lite page styles: choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html -->
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-red.min.css">

<!-- Material Design icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Your styles -->
<link rel="stylesheet" href="/styles/app.css">