<!-- SECTION SPONSORS -->
<section class="devfest-sponsors mdl-grid ">
  <div class="">
    <div class="devfest-sponsors-text  mdl-typography--display-1 mdl-typography--text-center">Platinium Sponsors</div>
    <div class="mdl-grid devfest-sponsors-platinium">
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="https://www.google.com" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/google.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.epitech.eu/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/epitech.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.zenika.com/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/zenika.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.sqli.com/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/sqli.png" ></a>
      </div>
    </div>
    <div class="mdl-grid devfest-sponsors-platinium">
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.conserto.pro/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/conserto.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.soprasteria.com/fr" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/sopra.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.groupe-creative.fr/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/creative.png" ></a>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
        <a href="http://www.neo-soft.fr/" target="_NEW"><img class="simple-padding-bottom" src="/images/sponsors/neosoft.png" ></a>
      </div>
    </div>
  </div>
</section>
