<!doctype html>
<html lang="">
  <head>
    <!-- inject:head:html -->
    <!-- endinject -->
  </head>

  <body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- inject:menu:html -->
    <!-- endinject -->

    <div class="devfest-ribbon"></div>
    <main id="agendaVue" class="devfest-ribbon-main mdl-layout__content">
      <div class="devfest-ribbon-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="devfest-ribbon-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
          <div class="devfest-ribbon-crumbs mdl-color-text--grey-500">
            Devfest Nantes 2016 &gt; Agenda
          </div>

          <div style="display:flex;">
            <div style="display:flex;flex-direction:column;margin-right: 50px;" class="mdl-cell--hide-phone">
              <h6>Jours</h6>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day1">
                <input type="checkbox" id="day1" value="day1" v-model="day1" class="mdl-checkbox__input">
                <span class={{this.getTypeColor('day1')}}>Mercredi 9 novembre</span>
              </label>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day2">
                <input type="checkbox" id="day2" value="day2" v-model="day2" class="mdl-checkbox__input">
                <span class={{this.getTypeColor('day2')}}>Jeudi 10 novembre</span>
              </label>
            </div>
            <div style="display:flex;flex-direction:column;margin-right: 50px;" class="mdl-cell--hide-phone">
              <h6>Type de session</h6>
              <label v-for="filter in typeFilters" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for={{filter}}>
                <input type="checkbox" id={{filter}} value={{filter}} v-model="curTypeFilters" class="mdl-checkbox__input">
                <span class={{this.getTypeColor(filter)}}>{{filter}}</span>
              </label>
            </div>
            <div style="display:flex;flex-direction:column;margin-right: 50px;" class="mdl-cell--hide-phone">
              <h6>Track</h6>
              <label v-for="filter in trackFilters" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for={{filter}}>
                <input type="checkbox" id={{filter}} value={{filter}} v-model="curTrackFilters" class="mdl-checkbox__input">
                <span class={{this.getTrackColor(filter)}}>{{filter}}</span>
              </label>
            </div>
            <div style="display:flex;flex-direction:column">
              <h6>Favoris</h6>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="favorites">
                <input type="checkbox" id="favorites" value="favorites" v-model="curFavoriteFilter" class="mdl-checkbox__input">
                <span class="devfest-favorite-active"><i class="material-icons">favorite</i></span>
              </label>
            </div>

          </div>

          <h4 v-if="day1 || (!day1 && !day2)">Mercredi 9 novembre 2016</h4>
          <agenda  v-if="day1 || (!day1 && !day2)" day="1" :hours="agenda.day1" :sessions="displayedSessions" :favorites="favorites"></agenda>

          <h4 v-if="day2 || (!day1 && !day2)">Jeudi 10 novembre 2016</h4>
          <agenda v-if="day2 || (!day1 && !day2)" day="2" :hours="agenda.day2" :sessions="displayedSessions" :favorites="favorites"></agenda>

      </div>
      </div>

      <!-- inject:footer:html -->
      <!-- endinject -->
    </main>

    <!-- build:js(app/) ../../scripts/main.min.js -->
    <script async src="/scripts/main.js"></script>
    <!-- endbuild -->

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-35116426-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>


     <!-- Built with love using Web Starter Kit -->
  </body>
</html>
